@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Error";
}
<div>
    <h1>An error occured</h1>
    <br />
    <a asp-action="ViewStartPage">Back to the home page</a>
</div>

