@using Models.Users
@model MyProfileModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Edit my profile";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4 col-11">
            <div class="row justify-content-center">
                <form asp-action="EditMyProfile" method="post">
                    @Html.AntiForgeryToken()
                    <h3>Edit my profile</h3>
                    <hr />

                    @if (TempData["ResponseMessage"] is not null && TempData["Response"] is not null)
                    {
                        if (TempData["Response"].Equals(false))
                        {
                            <div class="text-center text-danger">
                                @TempData["ResponseMessage"]
                            </div>
                        }
                        else
                        {
                            <div class="text-center text-success">
                                @TempData["ResponseMessage"]
                            </div>
                        }
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group form-floating">
                        <input asp-for="FirstName" class="form-control" />
                        <label asp-for="FirstName" class="control-label text-secondary"></label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="LastName" class="form-control" />
                        <label asp-for="LastName" class="control-label text-secondary"></label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="UserName" class="form-control" />
                        <label asp-for="UserName" class="control-label text-secondary"></label>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="Email" class="form-control" />
                        <label asp-for="Email" class="control-label text-secondary"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="Address" class="form-control" />
                        <label asp-for="Address" class="control-label text-secondary"></label>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="City" class="form-control" />
                        <label asp-for="City" class="control-label text-secondary"></label>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="PostalCode" class="form-control" />
                        <label asp-for="PostalCode" class="control-label text-secondary"></label>
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group form-floating">
                        <input asp-for="Country" class="form-control" />
                        <label asp-for="Country" class="control-label text-secondary"></label>
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn form-btn" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
