@{

	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
	ViewData["Title"] = "Access denied";
}

<div class="text-center">
	<h1 class="display-4">403</h1>
	<p>Access denied! <a asp-area="Common" asp-controller="Home" asp-action="ViewStartPage">Go back to home page</a>.</p>
</div>